WGCLIENT__DATABASE__HOST=localhost
WGCLIENT__DATABASE__PORT=5432
WGCLIENT__DATABASE__USERNAME=postgres
WGCLIENT__DATABASE__PASSWORD=postgres
WGCLIENT__DATABASE__NAME=wireguard_db
WGCLIENT__DATABASE__ECHO=True
